{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <!--div class="jumbotron text-center"-->
      <div class="jumbotron">
        <h1>{{=title}}</h1>
        <h3>{{=subtitle}}</h3>
      </div>
    </header>
{{end}}

<!--p class="lead"-->
<p>
{{=introductory_text}}
</p>

{{# Latest device history provided if logged in}}
{{if latest_history:}}
<table class="table">
    <!--tr>
        <th colspan="3" style="text-align:center;">Latest Events</th>
    </tr-->
    <tr>
        <th>{{=latest_history.db.device_history.site.label}}</th>
        <th>{{=latest_history.db.site.country.label}}</th>
        <th>{{=latest_history.db.device_history.device.label}}</th>
        <th>{{=latest_history.db.device.device_type.label}}</th>
        <th>{{=latest_history.db.device_history.time_used.label}}</th>
        
    </tr>
    {{for h in latest_history:}}
    <tr>
        <td>{{=h.site.name}}</td>
        <td>{{=h.site.country}}</td>
        <td>{{=h.device.make+"/"+h.device.model}}</td>
        <td>{{=h.device.device_type}}</td>
        <td>{{=h.time_used}}</td>
    </tr>
    {{pass}}
</table>
{{pass}}

{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">
      {{="Navigate"}}
     </h3></div>
  <ul class="list-group">
    <li class="list-group-item">{{=A( 'Device History', _href=URL('masterdb','device_history','lookup'))}}</li>
    <li class="list-group-item">{{=A( 'Device', _href=URL('masterdb','device','lookup'))}}</li>
    <li class="list-group-item">{{=A( 'Site', _href=URL('masterdb','site','lookup'))}}</li>
  </ul>
</div>
{{end}}
