/web2py/*
!/web2py/applications
/web2py/applications/admin
/web2py/applications/examples
/web2py/applications/welcome
/tmp/Dockerfile
/web2py/applications/__init__.py
/web2py/applications/__init__.pyc
/web2py/applications/masterdb/__init__.pyc
/web2py/applications/masterdb/controllers/default.py.bak
/web2py/applications/masterdb/models/menu.py.bak
/web2py/applications/masterdb/models/testdata.py.bak
/web2py/applications/masterdb/modules/__init__.pyc
/web2py/applications/masterdb/views/default/index.html.bak
/web2py/applications/masterdb/views/default/manage.html.bak
/web2py/applications/masterdb/views/default/show.html.bak
/web2py/applications/masterdb/errors
/web2py/applications/masterdb/sessions
