/web2py/*
!/web2py/applications
/web2py/applications/admin
/web2py/applications/examples
/web2py/applications/welcome
/tmp/Dockerfile
/web2py/applications/__init__.py
/web2py/applications/__init__.pyc
/web2py/applications/*/__init__.pyc
/web2py/applications/*/controllers/default.py.bak
/web2py/applications/*/models/menu.py.bak
/web2py/applications/*/models/testdata.py.bak
/web2py/applications/*/modules/__init__.pyc
/web2py/applications/*/views/default/index.html.bak
/web2py/applications/*/views/default/manage.html.bak
/web2py/applications/*/views/default/show.html.bak
/web2py/applications/*/errors
/web2py/applications/*/sessions
*.bak
