{{extend 'layout.html'}}
<h1>{{=T('Medical Device')}}</h1>
<h2>{{=T('Status')}}</h2>
<table class="table">
    <tr>
        <th>{{=T("Device")}}</th>
        <th>{{=T("Serial No")}}</th>
        <th>{{=T("Alias")}}</th>
        <th>{{=T("Device Type")}}</th>
        <th>{{=T("Site")}}</th>
        <th>{{=T("Status")}}</th>
        <th></th>
    </tr>
    {{for entry in entries:}}
    <tr>
        <td>{{=entry.device.make+"/"+entry.device.model}}</td>
        <td>{{=entry.device.serial_no}}</td>
        <td>{{if entry.device.special_alias:
                  =entry.device.special_alias
              pass}}</td>
        <td>{{=entry.device.device_type}}</td>
        <td>{{if entry.device_heartbeat.site:
                  =entry.device_heartbeat.site.name
              pass}}</td>
        <td>{{if entry.device_heartbeat.at_time:
                hbhours = (request.utcnow - entry.device_heartbeat.at_time).total_seconds()/3600.0
                if hbhours < max_hours:
                    ="normal"
                else:
                    if hbhours > 48.0:
                       ="delay %0.1fd"%(hbhours/24.0)
                    else:
                       ="delay %0.1fh"%hbhours
                    pass
                pass
              else:
                hbhours = None
                ="no signals"
              pass}}
        </td>
        <td>
            <div style="width: 20px;
                        height:20px;
                        text-align:center;
                        border-radius: 50%;
                        /*border:0px solid orange;*/
                        overflow:hidden;
                        {{if hbhours and hbhours < max_hours:}}
                        background: #0f0;
                        {{else:}}
                        background: #f00;
                        {{pass}}
                        box-shadow: 0 0 3px gray;"></div>
            
        </td>
    </tr>
    {{pass}}
</table>
