{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <!--div class="jumbotron text-center"-->
      <div class="jumbotron">
        <h1>{{=title}}</h1>
        <h3>{{=subtitle}}</h3>
      </div>
    </header>
{{end}}

<!--p class="lead"-->
<div style="display:inline-block;">
    <h3>
        {{=T("Introduction")}}
    </h3>
</div>
<p>
{{=introductory_text}}
</p>

{{# Latest device history provided if logged in}}
{{if 'latest_history' in globals():}}
<div class="panel panel-info panel_info_table">
    <table class="table">
        <tr class="table_head_row">
            <th colspan="6" style="text-align:center;">{{=T("5 Most Recent Device Events")}}</th>
        </tr>
        <tr class="table_head_row">
            <th></th>
            <th>{{=latest_history.db.device_history.site.label}}</th>
            <th>{{=latest_history.db.site.country.label}}</th>
            <th>{{=latest_history.db.device_history.device.label}}</th>
            <th>{{=latest_history.db.device.device_type.label}}</th>
            <th>{{=T("Used")}}</th>

        </tr>
        {{for i, h in enumerate(latest_history):}}
        <tr class="{{='even_row' if i%2 else ''}}">
            <td>{{=i+1}}</td>
            <td>{{=h.site.name}}</td>
            <td>{{=T(h.site.country)}}</td>
            <td>{{=h.device.make+"/"+h.device.model}}</td>
            <td>{{=T(h.device.device_type)}}</td>
            {{
            if h.time_used is not None:
                dt = (request.utcnow - h.time_used).total_seconds()/60.0
                if dt < 60.0:
                    dtstr = "%.1f "%(dt) + T("minutes ago")
                elif dt < 1440.0:
                    dtstr = "%.1f "%(dt/60.0) + T("hours ago")
                else:
                    dtstr = "%.1f "%(dt/1440.0) + T("days ago")
                    pass
            else:
                dtstr=""
                pass
            if h.use_type is not None:
                dtstr = h.use_type+" "+dtstr
                pass
            }}
            <td>{{=dtstr}}</td>
        </tr>
        {{pass}}
    </table>
</div>
{{pass}}

{{include 'chartdata.html'}}
{{include 'mapdata.html'}}
{{include 'page_reload_script.html'}}

{{block right_sidebar}}
{{if 'service_summary' in globals():}}
<div class="panel panel-info service_summary">
  <div class="panel-heading"><h3 class="panel-title">
      <b>{{=T("Service summary")}}</b><div style="float:right;"><b>{{=T("total")}}</b></div>
     </h3></div>
  <ul class="list-group">
    <a href="{{=URL('site','look_up')}}">
    <li class="list-group-item">{{=T('sites serviced')}}<div style="float:right;"><b>{{=service_summary['total_sites']}}</b></div></li></a>
    <a href="{{=URL('device','look_up')}}">
        <li class="list-group-item">{{=T('medical devices')}}<div style="float:right;"><b>{{=service_summary['total_devices']}}</b></div></li></a>
    <a href="{{=URL('device_history','look_up')}}">
        <li class="list-group-item">{{=T('treatments to date')}}<div style="float:right;"><b>{{=service_summary['total_treatments']}}</b></div></li></a>
    <a href="{{=URL('device_history','look_up')}}">
        <li class="list-group-item">{{=T('patients to date')}}<div style="float:right;"><b>{{=service_summary['total_patients']}}</b></div></li></a>
  </ul>
</div>
{{pass}}
{{end}}
